body {
    display: flex;
    justify-content: center;
    background: #424f6f;
    text-align: center;
}

p {
    font-size: 18px;
    color: #93b2ff;
}

h1 {
    color: #93b2ff;
    font-size: 64px;
    font-weight: 300;
    text-shadow: 2px 2px 8px #FF0000;
    font-family: "butcherman";
}

h2 {
    font-family: "butcherman";
    font-weight: 400;
    font-size: 32px;
    color: #ffa600;
    text-shadow: 2px 2px 8px #FF0000;
    transition: all 2s;
    display: inline-block;
}

#questionDiv p {
    font-weight: 500;
    font-size: 1.2em;
    color: #ff8800;
}

#lossesDiv p {
    font-weight: 500;
    font-size: 1.2em;
    color: #ff8800;
}

#ghostContainer,
#ghostContainerEnd {
    transition: 1s ease-in-out;
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;
    background: #424f6f;
    text-align: center;
    display: inline-block;
}

#timer {
    font-family: Tahoma;
    font-size: 32px;
    font-weight: 500;
    color: #93b2ff;
    /* animation: colorchange 32s;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    /* -webkit-animation: colorchange 32s;
    Chrome and Safari */
}

#triviaContainer {
    transition: 1s ease-in-out;
    width: 800px;
    height: 400px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    /* background-color: rgba(66, 79, 111, 0.3); */
}

#triviaContainer img {
    transition: 1s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#triviaQuestions {
    width: 50%;
    height: 500px;
    padding: 10px;
    background-color: rgba(66, 79, 111, 0.5);
}

.opacityChange {
    animation: opacityChange 30s;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: opacityChange 30s;
    /* Chrome and Safari */
}

.colorChange {
    animation: colorChange 32s;
    -webkit-animation: colorChange 32s;
}

.no-background {
    background: "";
}

.shrink {
    opacity: 0;
    transition: 1.2s ease-in-out;
}

.hidden {
    display: none!important;
}

.grow {
    transform: scale(2.5);
}

@keyframes opacityChange {
    0% {
        opacity: .1;
    }
    25% {
        opacity: .3;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .3;
    }
    100% {
        opacity: .1;
    }
}

@-webkit-keyframes opacityChange
/* Safari and Chrome - necessary duplicate */

{
    0% {
        opacity: .1;
    }
    25% {
        opacity: .3;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .3;
    }
    100% {
        opacity: .1;
    }
}

@keyframes colorChange {
    0% {
        color: #93b2ff;
    }
    25% {
        color: #ac80ff;
    }
    50% {
        color: #c156ff;
    }
    75% {
        color: #ff3589;
    }
    100% {
        color: #ff0000;
    }
}

@-webkit-keyframes colorChange
/* Safari and Chrome - necessary duplicate */

{
    0% {
        color: #93b2ff;
    }
    25% {
        color: #ac80ff;
    }
    50% {
        color: #c156ff;
    }
    75% {
        color: #ff3589;
    }
    100% {
        color: #ff0000;
    }
}


/* the spooky ghost itself */

#spooky {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 2s infinite;
}

#spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: #f2fbf1;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

#spooky #body:before,
#spooky #body:after {
    content: '';
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #f2fbf1;
    animation: floaty 2s infinite;
}

#spooky #body:before {
    left: -18px;
}

#spooky #body:after {
    right: -18px;
}

#spooky #body #eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

#spooky #body #eyes:before,
#spooky #body #eyes:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: #252c49;
    border-radius: 50%;
}

#spooky #body #mouth {
    background: #252c49;
    margin: 25px auto 0;
    width: 60px;
    height: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#spooky #body #mouth:before {
    content: ' ';
    display: block;
    background: #fff;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}

#spooky #body #feet {
    position: absolute;
    display: flex;
    bottom: -18px;
    width: 180px;
    height: 36px;
}

#spooky #body #feet>*,
#spooky #body #feet::before,
#spooky #body #feet::after {
    content: ' ';
    width: 36px;
    height: 36px;
    background: #f2fbf1;
    border-radius: 50%;
}

#shadow {
    margin: -90px auto 0;
    background: #252c49;
    width: 180px;
    height: 40px;
    border-radius: 50%;
    animation: zoomy 2s infinite;
}

@keyframes floaty {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes zoomy {
    0% 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}


/* buttons n' stuff */

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}